.rpsChoice {
  min-height: 32vh;
  color: white;
  margin-top: 1rem!important;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.rpsChoiceHalf {
  width: 50%;
  flex-direction: column!important;
}

.rpsChoiceHalfUpperSection {
  width: 100%;
  min-height: 22vh;
}

.rpsChoiceHalfLowerSection {
  width: 100%;
  text-align: center!important;
  margin-top: .5rem!important;
}

.gameResult {
  min-height: 20vh;
  margin-top: .5rem!important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .gameResult {
    flex: 0 0 50%;
    max-width: 50%;
}
}

.gameResultText {
  display: flex;
  color: white;
  width: 100%!important;
  font-size: 40px;
  flex-direction: column!important;
  align-items: center;
  line-height: 1.5;
}

.gameResultRuleText {
  font-size: 24px;
}

.playAgainButton {
  color: hsl(229, 13%, 41%);
  width: 180px;
}

.playAgainButton:focus {
  outline: 0 !important;
}
