.advancedChoices {
  display: flex!important;
  justify-content: center!important;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.advancedRPSLSContainer {
  height: 53vh;
  background-image: url('../../assets/svgs/bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 58vw 46vw;

  margin-top: 1rem!important;
  justify-content: center!important;
  flex-direction: column!important;
  display: flex!important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.advancedRPSLSTopContainer {
  display: flex;
  justify-content: center;
}

.advancedRPSLSMiddleContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px -2vh;
}

.advancedRPSLSLowerContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}

@media only screen and (min-width: 600px) {
  .advancedRPSLSContainer {
      background-size: 21vw 21vw;
  }
  .advancedRPSLSMiddleContainer {
      margin: 0px 1vh;
  }
}

@media (min-width: 768px) {
  .advancedRPSLSContainer {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .advancedRPSLSContainer {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
