.outerCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.outerCircle.advanced {
  width: 90px;
  height: 90px;
  box-shadow: 0 8px;
}

.outerCircle.paper {
  background-image: radial-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
  box-shadow: 0 10px 0px -5px rgb(41, 68, 194);
}

.outerCircle.paper.advanced {
  box-shadow: 0 8px 0px -5px rgb(41, 68, 194);
}

.outerCircle.scissor {
  background-image: radial-gradient(hsl(39, 89%, 49%) ,hsl(40, 84%, 53%));
  box-shadow: 0 10px 0px -5px rgb(199,108,27);
}

.outerCircle.scissor.advanced {
  box-shadow: 0 8px 0px -5px rgb(199,108,27);
}

.outerCircle.spock {
  background-image: radial-gradient(hsl(189, 59%, 53%),hsl(189, 58%, 57%));
  box-shadow: 0 10px 0px -5px rgb(45,140,170);
}

.outerCircle.spock.advanced {
  box-shadow: 0 8px 0px -5px rgb(45,140,170);
}

.outerCircle.rock {
  background-image: radial-gradient(hsl(349, 71%, 52%),hsl(349, 70%, 56%));
  box-shadow: 0 10px 0px -5px rgb(157,23,50);
}

.outerCircle.rock.advanced {
  box-shadow: 0 8px 0px -5px rgb(157,23,50);
}

.outerCircle.lizard {
  background-image: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  box-shadow: 0 10px 0px -5px rgb(95,55,170);
}

.outerCircle.lizard.advanced {
  box-shadow: 0 8px 0px -5px rgb(95,55,170);
}

.innerCircle {
  width: 85px;
  height: 85px;
  background: white;
  border-radius: 50%;
  box-shadow: inset 0 10px 3px -7px rgb(188,192,218)
}

.innerCircle.advanced {
  width: 68px;
  height: 68px;
}

.innerCircle.empty {
  background: rgb(25,46,69);
  box-shadow: none;
}

.circleIcon.advanced {
  max-width: 45px;
  max-height: 45px;
}
