.App {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  text-align: center;
  align-items: center!important;
  flex-direction: column!important;
  display: flex!important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.rpsRow {
  display: flex!important;
  justify-content: center!important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}

.result {
  flex-direction: column!important;
}

.rpsContainer {
  display: flex!important;
  align-items: center!important;
  flex-direction: column!important;
  justify-content: center!important;

  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.rpsGameMode {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.rpsGameMode-text {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 24px;
}

.rpsGameMode-computer, .rpsGameMode-player {
  margin: 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  border: 1px solid #282c34;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: white;
}

.modal-backdrop {
  display: none;
}

.buttonsContainer {
  padding: 0px;
  margin-top: 1.5rem!important;
  display: flex!important;
  flex-direction: row!important;
  position: relative;
  width: 100%;
}

.lowerButton {
  background: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  max-width: 102px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}

@media (min-width: 992px){
  .rpsContainer {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}
