.rpsHeaderRow {
  align-items: initial;
  justify-content: center!important;
  display: flex!important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.header {
  border: 2px solid hsl(217, 16%, 45%);
  min-height: 100px;
  border-radius: 8px;
  /* font-family: BarlowSemiCondensedBold; */
  font-weight: 700;
  color: white;
  font-size: 22px;
  line-height: 22px;
  margin-top: 3rem!important;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex-direction: column;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  max-height: 100px;

}

.headerRow {
  padding-left: .5rem!important;
  padding-right: .5rem!important;
  height: 100%!important;
  align-items: center!important;
  display: flex!important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-direction: column;
}

.headerText {
  flex-direction: column!important;
  display: flex!important;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: initial;
  margin-top: 18px;
}

.advancedOptions {
  font-size: 15px;
  line-height: 15px;
}

.score {
  /* background-color: white; */
  min-height: 100%;
  border-radius: 7px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.score-text {
  color: #fff;
  height: 20%;
  font-size: 20px;
  margin-top: 18px;
}

.score-value {
  color:#fff;
  font-size: 50px;
  height: 80%;
  margin-top: 20px;
}

/* @media (min-width: 992px) {
  .header {
    flex: 0 0 50%;
    max-width: 50%;
  }
} */

@media (min-width: 992px) {
  .headerText {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 992px) {
  .score {
    flex: 0 0 8.666667%;
    max-width: 8.666667%;
  }
}
